torch
pytz
numpy
ncluster
tqdm
pytorch_pretrained_bert
tensorboardX
tensorflow  # needed for tensorboardX
pytorch-lamb
# TODO: remove git repo when master is pushed
git+https://github.com/huggingface/pytorch-pretrained-BERT
#pytorch-pretrained-bert
portalocker

# ncluster subdependencies
boto3
paramiko
portpicker
tzlocal
attrdict
